[submodule "ip/user_projects/heichips25-fazyrv-exotiny"]
	path = ip/user_projects/heichips25-fazyrv-exotiny
	url = ../../HeiChips/heichips25-fazyrv-exotiny.git
[submodule "ip/user_projects/heichips25_CORDIC"]
	path = ip/user_projects/heichips25_CORDIC
	url = ../../HeiChips/heichips25_CORDIC.git
[submodule "ip/user_projects/heiChips2025_sap3_and_sorter"]
	path = ip/user_projects/heiChips2025_sap3_and_sorter
	url = ../../HeiChips/heiChips2025_sap3_and_sorter.git
[submodule "ip/user_projects/heichips_25_snitch_core"]
	path = ip/user_projects/heichips_25_snitch_core
	url = ../../HeiChips/heichips_25_snitch_core.git
[submodule "ip/user_projects/heichips25_bagel"]
	path = ip/user_projects/heichips25_bagel
	url = ../../HeiChips/heichips25_bagel.git
[submodule "ip/user_projects/heichips25_systolicArray4x4"]
	path = ip/user_projects/heichips25_systolicArray4x4
	url = ../../HeiChips/heichips25_systolicArray4x4.git
[submodule "ip/user_projects/heichips25-usb_cdc"]
	path = ip/user_projects/heichips25-usb_cdc
	url = ../../HeiChips/heichips25-usb_cdc.git
[submodule "ip/user_projects/heichips25-tiny-wrapper"]
	path = ip/user_projects/heichips25-tiny-wrapper
	url = ../../HeiChips/heichips25-tiny-wrapper.git
[submodule "ip/user_projects/heichips25_SDR"]
	path = ip/user_projects/heichips25_SDR
	url = ../../HeiChips/heichips25_SDR.git
