__pycache__/
sim_build/
*.vvp
*.fst
*.a
*.o
*.elf
*.bin
*.hex

.~lock.*

extract_script.tcl
extraction/
feedback.txt

lvs_script.tcl
netgen_lvs.json
netgen_lvs.rpt
out.def

!bitStreamSpec.bin

# PDK
IHP-Open-PDK/
*.lyrdb

# LibreLane builds
runs/
macro/
final/
