__pycache__/
sim_build/
runs/
*.vvp
*.fst
*.a
*.o
*.elf
*.bin
*.hex

.~lock.*

extract_script.tcl
extraction/
feedback.txt

lvs_script.tcl
netgen_lvs.json
netgen_lvs.rpt
out.def

sg13g2_minimal.lyrdb

!bitStreamSpec.bin

IHP-Open-PDK/
